.toplogo{
	height:10vh;
}

li.nav-item > a{
	padding:0;
	margin:0 auto;

}

#login{
	margin-right:5%;
}

.navbar-brand{
	margin-left:45%;
}
.social{
	height:6vh;
}

#visitCount {
	margin:0;
	margin-right:10px;
}

html, body {
	min-height:100%;
	width:100%;
}

main {
	min-height:100vh;
}

nav {
	height:12vh;
}

#myCarousel {
	width:100%;
}

#myCarousel div {
	width:100%;
}

#myCarousel img {
	max-width: 100%;
	max-height:100%;
}

#btm{
	height:50vh;
	width:100%;
}