.toplogo{
	height:80px;
	min-height:80px;
}

.social{
	height:6vh;
}

.submenu{
	height:50vh;
}
#visitCount{
	margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company div{
	text-align: center;
	display:flex;
	justify-content: center;
	align-items:center;
	height:100px;
	border-style:solid;
	border-width:0.8px;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

img.social{
	width:40px;
	height:40px;
}

html, body {
	min-height:100%;
	width:100%;
}

main {
	min-height:100vh;
}

nav {
	height:12vh;
}


#myCarousel img {
	max-width: 100%;
	max-height:100%;
}
